:root{
    --cor-primaria: #0096D3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,li{
    list-style: none;
}

header{
    background: #0096D3;
    padding: 5px 50px;
    width: 100%;
}
header img{
    height:30px;
}

.contato{
    display: flex;
    width: 100%;
    background: url('./assets/foto-contato.jpg');
    background-repeat: no-repeat;
}
.contato-canais{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contato-form{
    width: 50%;
    padding: 0 5%;
}


label{
    font-size: 14px;
    margin-bottom: 5px;
}

form{
    background:var(--cor-primaria);
    padding: 10px 20px;
    border-radius: 10px;
    color:#fff;
    align-self:center;
    width: 450px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
}

input{
    line-height: 20px;
    border:none;
    border-bottom:1px solid #fff;
    outline:none;
    font-size: 1rem;
    padding: 3px;
    background:none;
    color:#fff
}
textarea{
    width: 100%;
    border: 1px solid #fff;
    background: none;
    font-size: 1rem;
    outline: none;
    color:#fff;
    padding: 5px;
    resize:none;    
}
.canal{    
    width: 200px;
    background: var(--cor-primaria);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    color:#fff;
    text-align: center;
    align-self: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.canal h2{
    font-size: 0.8rem;   
}
.canal span{
    margin: 20px;
    display: inline-block;
}
.card{
    margin: 10px;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

select{
    border: 1px solid #fff;
    background: none;
    color:#fff;
    height: 30px;
    outline:none;
}
option{
    color:var(--cor-primaria)
}
input[type=submit]{
    border:1px solid #fff;
    padding: 10px;
    width: 100%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
input[type=submit]:hover{
    background:#fff;
    color:var(--cor-primaria);
}

@media screen and (max-width:1024px){
    .contato-form{
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .contato{
        flex-direction: column;
    }
    .card{
        align-self: center;
        width: 100%;
    }
    form{
        width: 60%;
    }
}
@media screen and (max-width:680px){
    form{
        width: 100%;
    }
    .canal h2 {
        font-size: 0.6em;
    } 
    .canal span{
        font-size: 0.5em;
    }
}
@media screen and (max-width:500px){
    .card{
        display: flex;
    flex-direction: column;
    }
    .canal h2, .canal span {
        font-size: 1rem;
    }
    .canal{
        width: 100%;
    }
}
/* @media screen and (max-width:280px){
    .contato-form{
        padding: 50px 5px
    }
} */